{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
       {{ form(regform) }}
    </div>
    <div class="pb-5  mb-5 wow fadeIn" data-wow-delay="0.1s">

    </div>
{% endblock %}
